.header-style,
.advice-btn {
  background-color: #2E0A53;
  color: white;
}

.con-height {
  height: 100vh;
}

.advice-btn {
  border: none;
  border-radius: 36px;
  font-size: 1.2rem;
}

.con-background {
  background-image: url(./images/Pawprint-Background.jpg);
  background-size: cover;
}
