body {
  font-family: 'Acme', 'Archivo Black', 'Francois One', sans-serif;
  background-image: url(./images/Pawprint-Background.jpg);
}

p {
  font-family: 'Baloo 2', cursive;
  font-size: 18px;
  /* letter-spacing: 1px; */
}

img {
  object-fit: scale-down;
}

.btn-props:hover,
i {
  cursor: pointer;
  text-decoration: none;
}

i {
  font-size: 35px;
}

.header-style,
.btn-props,
.quote,
.error-msg,
i {
  background-color: #2E0A53;
  color: whitesmoke;
  border: none;
}

.quote,
.dog,
.error-msg {
  border-radius: 7px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.dog {
  border: none;
}

.con-height {
  height: 100vh;
}

.btn-props {
  border-radius: 36px;
  font-size: 1.2rem;
  width: 228.98px;
}

.btn-container,
.spin-container,
.error-container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spinner-props,
.quote-spinnner {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  color: #2E0A53;
}

.error-msg {
  font-size: 1.5rem;
}

.red {
  color: rgb(165, 3, 3);
}

@media (min-width: 666px) {
  .col-40 {
    max-width: 40%;
  }
}
