body {
  font-family: Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
}
a,
a:active {
  color: inherit;
  text-decoration: none;
}

.btn-props:hover,
i {
  cursor: pointer;
  text-decoration: none;
}

i {
  font-size: 40px;
}

.header-style,
.btn-props,
.quote,
i {
  background-color: #2E0A53;
  color: whitesmoke;
  border: none;
}

.quote,
.dog {
  border-radius: 7px;
}

.dog {
  border: 2px solid black;
}

.con-height {
  height: 100vh;
}

.btn-props {
  border-radius: 36px;
  font-size: 1.2rem;
  width: 228.98px;
}

.con-background {
  background-image: url(./images/Pawprint-Background.jpg);
  background-size: cover;
}

.pt-10-percent {
  padding-top: 10%;
}

#joke-btn {
  color: yellow;
}

.btn-container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
